<br><br><br><table>
   <tr>
      <td><br>
         <center><br><b>Send a Message</b><br><br>Enter your message here:<br/>    
<form accept-charset="utf-8" action="/sendMessage" method="post" enctype="multipart/form-data" onsubmit="myFunction()">
<input type="text" size="20" name="message"/><br/>
<br>Receiver (username): <br><input type="text" size="10" name="destination"/>
<br><br><input type="submit" value="Send"/></form><br><br>

      </td>
      <td><td><td><td><td><td><td><td><td><td><td><td><td><td><td><td>
	  
	  <center>
<b>Send a File</b><br><br>
<form action="sendFile" method="post" enctype="multipart/form-data" onsubmit="myFunction()">
<input type="file" name="myFile" /><br /><sub>(file must be less than 5MB)</sub><br><br>
Receiver (username):<br> <input type="text" size="10" name="destination" /><br /><br>
<input type="submit" value = "Send">
</form><br>
      </td>
   </tr>
</table>